.ant-slider {
  &-track {
    background-color: #fcff35;
  }

  &:hover &-track {
    background-color: #ff8628;
  }

  &:hover &-handle {
    &.ant-tooltip-open {
      border-color: #ff8628 !important;
    }
  }

  &-handle {
    border-color: #fcff35 !important;

    &.ant-tooltip-open {
      border-color: #ff8628 !important;
    }
  }
}
